@using Model
@model RoleEditModel
@{
    ViewBag.Title = "Изменить роль";
}

<h2>Изменить роль</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
<input type="hidden" name="roleName" value="@Model.Role.Name" />
<div class="panel panel-primary">
    <div class="panel-heading">@Resources.Content.AddUserInRole <b>@Model.Role.Name</b></div>
    <table class="table table-striped">
        @if (Model.NonMembers.Count() == 0)
        {
        <tr>
            <td colspan="2">>@Resources.Content.AllUserInRole</td>
        </tr>
        }
        else
        {
        <tr>
            <td>User ID</td>
            <td>@Resources.Content.AddUserInRole</td>
        </tr>
        foreach (AppUser user in Model.NonMembers)
        {
        <tr>
            <td>@user.UserName</td>
            <td>
                <input type="checkbox" name="IdsToAdd" value="@user.Id">
            </td>
        </tr>
        }
        }
    </table>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">Удалить из роли <b>@Model.Role.Name</b></div>
    <table class="table table-striped">
        @if (Model.Members.Count() == 0)
        {
        <tr>
            <td colspan="2">@Resources.Content.NoUsersInRole</td>
        </tr>
        }
        else
        {
        <tr>
            <td>@Resources.Content.User ID</td>
            <td>@Resources.Content.Delete</td>
        </tr>
        foreach (AppUser user in Model.Members)
        {
        <tr>
            <td>@user.UserName</td>
            <td>
                <input type="checkbox" name="IdsToDelete" value="@user.Id">
            </td>
        </tr>
        }
        }
    </table>
</div>
<button type="submit" class="btn btn-primary">Сохранить</button>
    @Html.ActionLink(@Resources.Content.Back, "Index", null, new { @class = "btn btn-default" })
}